<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA-sim</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
{% extends "base.html" %}

{% block content %}
<body>
    <div class="faq-containers">
        <div class="faq-1"></div>
        <div class="faq-2">
            <h1 style="font-size: 3em;">FAQ</h1>
            <p id="privacy-policy_text">Welcome to our frequently asked questions (FAQ) page. here you will find answers to all your questions about NBA_simulator. 
                Any further questions can be sent to <a href="mailto:johanhven@gmail.com">This email</a>
            </p>
            <br>
            <h2>General</h2>
            <hr>
            <button class="accordion">What is NBA simulator?</button>
            <div class="panel">
                <p>NBA simulator is a simualtor for simulating basketball matches between famous basketball faces</p>
            </div>
            <br>
            <br>
            <h2>Account and registration</h2>
            <hr>
            <button class="accordion">How do i registrate</button>
            <div class="panel">
                <p>Go to the <a href="/">home</a> page, press login your respective login button. under the login form there should
                be a link to signup, press the link and fill out the forms</p>
            </div>
            <button class="accordion">Why should i registrate</button>
            <div class="panel">
                <p></p>
            </div>
            <br>
            <br>
            <h2>Game-related</h2>
            <hr>
            <button class="accordion">How do i play?</button>
            <div class="panel">
                <p>Simply grab your closest friend, fill in your team names, and press "Get balling"</p>
            </div>
            <button class="accordion">How does the draft work?</button>
            <div class="panel">
                <p>The players in the draft are divided into five categories, with the top row being 5 dollars each, the next 4 and
                    down to 1. You have 15 dollars and need 1 player in each position, while staying in your budget
                </p>
            </div>
            <button class="accordion">How does the simulation work?</button>
            <div class="panel">
                <p>The simualtion is based on a personally crafted algorithm, that will the game a realistic scoreline</p>
            </div>
            <button class="accordion">Where can i find the leaderboard?</button>
            <div class="panel">
                <p>If you are on the simulation page, simply press the leaderboard button, or you can visit http://127.0.0.1:3030/ledertavle</p>
            </div>
        </div>
        <div class="faq-3"></div>
    </div>
</body>
<script>
    /* W3 schools */
    /* velger accordion elementene */
    var acc = document.getElementsByClassName("accordion");
    /* looper gjennom alle accordions */
    var i;

    for (i = 0; i < acc.length; i++) {
    /* legger ti leventlistener i hver accordion */
    acc[i].addEventListener("click", function() {
        
        /* toggler aktiv hvis den ikke er det, og skrur av aktiv hvis den er det */
        this.classList.toggle("active");

        /* toggler mellom visning og skjuling */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
        panel.style.display = "none";
        } else {
        panel.style.display = "block";
        }
    });
    }
</script>
{% endblock %}
</html>