<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        html, body {
          margin: 0;
          padding: 0;
          height: 100%;
          background-image: url("{{ url_for('static', filename='images/mjtrophy-edited_16x9.png') }}");
          background-size: cover;
          background-position: center;
        }
    </style>
</head>
<body>
    <div class="ledertavle_header">
        <h id="draft_headerskrift">Ledertavle</h>
    </div>
    <div class="ledertavle_innhold">
        <div class="ledertavle_boks1"></div>
        <div class="ledertavle_boks2">
            <ul>
                {% for row in rows %}
                <li class="draft_spilleretekst">{{ row["brukernavn"] }} - {{row["antall_seire"] }} wins</li>
                {% endfor %}
            </ul>
        </div>
        <div class="ledertavle_boks3"></div>
    </div>
</body>
</html>