<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA-sim</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/nba-logo-black-free-png-e1702364122395.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      background-image: url("{{ url_for('static', filename='images/jordan-knicks.png') }}");
      background-size: cover;
      background-position: center;
    }
</style>
{% extends "base.html" %}

{% block content %}
<body>
    <div class="boks_login_signup1"></div>
    <div class="boks_login_signup2">
        <form class="login_signup_form" method="POST" action="/login">
            <input type="text" name="username" placeholder="Brukernavn" required class="cool_input">
            <input type="password" name="password" placeholder="Passord" required class="cool_input">
            <button type="submit" class="button_login_signup">Logg inn</button>
        </form>
        <br>
        <p class="draft_spilleretekst">Har du ikke bruker <a href="signup" style="color: #92c8d5;">Registrer deg</a></p>
    </div>
    <div class="boks_login_signup3"></div>
</body>
{% endblock %}
</html>