<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="pp-containers">
        <div class="pp-1"></div>
        <div class="pp-2">
            <h1 style="font-family: Arial, Helvetica, sans-serif;">NBA-simulator privacy-policy</h1>
            <br>
            <p id="privacy-policy_text"> We are committed to your right to privacy, and will only use your data as set out in this privacy notice. 
                This Privacy Notice explains how we process your personal data for the purpose of optimization. </p>
            <br>
            <h2>What data do we have about you </h2>
            <hr>
            <p id="privacy-policy_text">When you use our Service, you may typically provide us, or we may typically collect, the following data:</p>
            <p id="privacy-policy_text"><i>Personal data</i>, including name and profile picture. </p>
            <p id="privacy-policy_text"><i>Contact data</i>, including phone number, and email address.</p>
            <br>
            <table>
                <tr>
                    <th>Data type</th>
                    <th>Purpose</th>
                </tr>
                <tr>
                    <td>Personal data</td>
                    <td>We collect your username to make you eligble for leaderboard play, and a more seamless experience</td>
                </tr>
                <tr>
                    <td>Contact data</td>
                    <td>We use this information to contact you to send you updates about your events and events you are attending.</td>
                </tr>
            </table>      
            <br>
            <h2>How long do we store data about you</h2>   
            <hr>
            <p id="privacy-policy_text">We will store your data for as long as necessary to fulfill the purposes describes in this policy</p>
            <br>
            <table>
                <tr>
                    <th>Data type</th>
                    <th>When we delete</th>
                </tr>
                <tr>
                    <td>Personal data</td>
                    <td>We store your data until you delete your account and then shortly afte we delete it</td>
                </tr>
                <tr>
                    <td>Contact data</td>
                    <td>We store your contact data while you have an account with us</td>
                </tr>
            </table>
            <br>
            <h2>Contact</h2>
            <hr>
            <p id="privacy-policy_text">If you have any comments or queries in connection with our Privacy Notice or wish to exercise any of your 
                privacy rights, please email johanhven@gmail.com</p> 
            <br>
            <h2>Changes to privacy notice</h2>
            <hr>
            <p id="privacy-policy_text">This Privacy Notice was last updated on 07.03.2025 This Privacy Notice may change from time to time. 
                You will always find the latest version of this Privacy Notice on our website.</p>
        </div>
        <div class="pp-3"></div>
    </div>
</body>
</html>