<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="pp-containers">
        <div class="pp-1"></div>
        <div class="pp-2">
            <h1 style="font-family: Arial, Helvetica, sans-serif;">NBA-simulator privacy-policy</h1>
            <br>
            <p> We are committed to your right to privacy etc </p>
        </div>
        <div class="pp-3"></div>
    </div>
</body>
</html>